.glossy-btn{
    --hue:0;
    --bottom-glow: radial-gradient(
        farthest-corner at bottom center,
        rgba(255,255,255,.7),
        transparent
    );

    background:
        var(--bottom-glow),
        linear-gradient(
            to bottom,
            var(--bg-dark),
            var(--button-background)
        );

    box-shadow:0 4px 4px rgba(0,0,0,.4);
    transition:all .3s;
}